[Unit]
Description=Let's Encrypt renewal

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/lego
ExecStart=/usr/bin/lego $OPTIONS renew
ExecStartPost=/usr/sbin/systemctl reload $RELOAD_SERVICES
